body {
  font-family: Brush Script MT, Lucida Handwriting, cursive;
  margin: 0;
  padding: 0;
  background-colour: grey;
}

#box {
  background-colour: blue;
  padding 10px 10px 10px 10px;
}

#container {
  background-colour;
  margin;
  padding;
  border;
}

h1 {
  font-size: 75%;
  margin-bottom: 30px;
}

.heading {
  font-size: 25%;
}

@media (min-width: 992px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}
